registry=https://faricode.pkgs.visualstudio.com/_packaging/fari-npm/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 22/04/2019.
; begin auth token
//faricode.pkgs.visualstudio.com/_packaging/fari-npm/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJkYzRmYjNhMS1kM2FhLTQ2YjMtYmRlNi04YTY4ODY1YjRjZmEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMWIwZmIwZTMtNTZhOC00ZjE3LWI4NDUtMDg4NTg5MzRlMTA5Iiwic2lkIjoiOTY4ZjI2MmQtMzY1My00MjlhLWJkMmEtMmI4YzY3ODk4ZDExIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmIwNDIzMjZmLTEwOGMtNGU0OC1iODgxLTE4MzgwMGYwYjIyMiIsIm5iZiI6MTU0ODE1NTU2OSwiZXhwIjoxNTU1OTMyMTY5fQ.Fwl2B9MRXfKVVtC2PsP6vdpYqDMgauJZ9bCzFirfD5D3jRNgx9QCUPGarFnB1XJsm-Bm6ThREFYFf_GvF9rABW-bNr2roF_XEstfJzmsZi9XQRHTFne5TGk3Du_KUz_fVHJAnO1FLL2KtFE6xMSkJteooNQD0ovA0uvkRHG9Io5FuHYh0DisHMwuVkzsCQxvLLus89l0B-_0bDmAnWyNSKrw76WV9hKbR1ka72DREUI5e9JIFPLpl2_IQDPzvAl0CB1wzLr7KXotpkkqSAA4Gu8tot6ZI_mUWfcZi0x2Ub4ooT00FeIy4tSuGShuYDeUu7yRWVs9_UK589MZMu61LA
//faricode.pkgs.visualstudio.com/_packaging/fari-npm/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJkYzRmYjNhMS1kM2FhLTQ2YjMtYmRlNi04YTY4ODY1YjRjZmEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMWIwZmIwZTMtNTZhOC00ZjE3LWI4NDUtMDg4NTg5MzRlMTA5Iiwic2lkIjoiOTY4ZjI2MmQtMzY1My00MjlhLWJkMmEtMmI4YzY3ODk4ZDExIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmIwNDIzMjZmLTEwOGMtNGU0OC1iODgxLTE4MzgwMGYwYjIyMiIsIm5iZiI6MTU0ODE1NTU2OSwiZXhwIjoxNTU1OTMyMTY5fQ.Fwl2B9MRXfKVVtC2PsP6vdpYqDMgauJZ9bCzFirfD5D3jRNgx9QCUPGarFnB1XJsm-Bm6ThREFYFf_GvF9rABW-bNr2roF_XEstfJzmsZi9XQRHTFne5TGk3Du_KUz_fVHJAnO1FLL2KtFE6xMSkJteooNQD0ovA0uvkRHG9Io5FuHYh0DisHMwuVkzsCQxvLLus89l0B-_0bDmAnWyNSKrw76WV9hKbR1ka72DREUI5e9JIFPLpl2_IQDPzvAl0CB1wzLr7KXotpkkqSAA4Gu8tot6ZI_mUWfcZi0x2Ub4ooT00FeIy4tSuGShuYDeUu7yRWVs9_UK589MZMu61LA
; end auth token